<!DOCTYPE html>
<html>
<head>
  <title>OpenTable</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAnbhT6_bMCfcCT-BgJvBFWBOhFeIt69XQ" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    <% if logged_in? %>
      window.currentUser = <%= render("api/users/show.json.jbuilder",
      user: current_user).html_safe %>
    <% end %>
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
